PersonBook/PersonBook/PersonBook/obj/
PersonBook/PersonBook/PersonBook/bin/
PersonBook/PersonBook/PersonBook.Data/obj/
PersonBook/PersonBook/PersonBook.Data/bin/
SparseArray/SparseArray/SparseArray/bin/
SparseArray/SparseArray/SparseArray/obj/
SomeExcersises/SortedQueue/SortedQueue/bin/
SomeExcersises/SortedQueue/SortedQueue/obj/