PersonBook/PersonBook/PersonBook.Data/obj/
PersonBook/PersonBook/PersonBook.Data/bin/
SparseArray/SparseArray/SparseArray/bin/
SparseArray/SparseArray/SparseArray/obj/
SomeExcersises/SortedQueue/SortedQueue/bin/
SomeExcersises/SortedQueue/SortedQueue/obj/
PersonBook/PersonBook/PersonBook.Data/bin/
PersonBook/PersonBook/PersonBook.Data/obj/
PersonBook/PersonBook/PersonBook.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs